@media only screen and (min-width: 768px) {
  body {
    width: auto;
    height: auto;
    margin: 0;
    background: #f4f5f7;
  }

  .header-backgroun-image {
    display: flex;
    width: 100%;
    height: 85vh;
    background-repeat: no-repeat;
    background-image: url(./asset/images/header.svg);
  }

  .Nav-bar {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 10vh;
    list-style-type: none;
    background: green;
  }

  #Hamburger {
    display: none;
  }

  .logoPlaceHolder {
    display: flex;
    align-items: center;
    margin-left: 120px;
    align-content: center;
    background: #fff;
  }

  .logo {
    align-items: center;
  }

  ul li {
    list-style-type: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    padding-right: 0;
    gap: 30px;
    width: fit-content;
    height: auto;
  }

  .Menu-portfolio {
    width: fit-content;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .Menu-about {
    width: fit-content;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    order: 0;
    flex-grow: 0;
  }

  .Menu-contact {
    width: fit-content;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .Headline-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0;
    position: absolute;
    width: 55%;
    height: auto;
    left: 20%;
    margin: 0;
    margin-top: 150px;
    flex: 50%;
  }

  .Headline-section-title {
    display: flex;
    align-items: center;
    letter-spacing: 0.35px;
    width: 49%;
    height: auto;
    flex: 50%;
    order: 0;
    color: #091e42;
  }

  .Headline-section-body {
    width: 100%;
    height: auto;
  }

  .icons {
    position: absolute;
    width: auto;
    height: 20px;
    margin-top: 15px;
  }

  .card-primary-tag {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    gap: 8px;
    height: auto;
    order: 3;
  }

  .work-section {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 1.5fr 0.5fr 1.5fr auto;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    flex: 50%;
    background: #fff;
    order: 0;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .card-background-image {
    align-items: flex-start;
    padding: 10px;
    width: 50%;
    height: auto;
    flex: 50%;
  }

  .card-text-section {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    gap: 20px;
    margin-top: 100px;
    margin: 10px;
    width: 40%;
    height: auto;
    flex: 50%;
    flex-grow: 0;
  }

  .card-primary-text {
    align-items: flex-start;
    gap: 10px;
    width: 80%;
    height: 40%;
    order: 0;
  }

  .primary-title {
    align-items: flex-start;
    width: 100%;
    height: auto;
  }

  .card-primary-text-frame {
    display: flex;
    width: 60%;
    height: auto;
  }

  .card-primary-body-text {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .card-primary-text-right {
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: auto;
    margin: 10px;
    flex: 50%;
    order: 0;
  }

  /* About me Section */
  .about-myself-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40%;
    border-radius: 0 90px 0 0;
    background: #fff;
    margin-top: 150px;
    background: green;
  }

  .About-top {
    display: flex;
    flex-direction: column;
    align-items: flex-s;
    width: auto;
    margin-left: 50px;
    flex: 29%;
    height: auto;
    background: yellowgreen;
  }

  .about_header_text {
    width: 50%;
    height: auto;
  }

  .about_body_text {
    width: 100%;
    height: 50%;
  }

  .card-primary-text-frame2 {
    width: 120%;
    height: 40px;
    order: 2;
  }

  .socialMedia {
    align-items: flex-start;
    flex-direction: column;
    order: 2;
    width: 100%;
    background: #000;
  }

  .frame2 {

  }

  .normalButnAbout {
    display: flex;
    flex-direction: row;
    width: 175px;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #396df2;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    left: 12px;
    margin: 8px;
    cursor: pointer;
    background-color: #fff;
  }

  .normalButnAbout:hover {
    background: #6070ff;
    color: #fff;
  }

  .normalButnAbout:active {
    background: #2230d2;
    color: #fff;
  }

  .skillList {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 360px;
    margin-top: 153px;
    left: 0px;
    flex: 50%;
    order: 2;
    background: gold;
  }

  .dropdown_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 50%;
    height: auto;
  }

  #dropdown_header {
    display: flex;
    width: 100%;
    height: 72px;
    order: 0;
    flex-grow: 0;
  }

  .dropdown {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    left: 0;
    gap: 12px;
    width: 75%;
    height: 120px;
  }

  #java_dropdown {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 0;
  }

  .drp_text {
    display: flex;
    width: fit-content;
    height: fit-content;
  }

  .separate {
    height: 1;
    left: 0;
    right: 0;
    bottom: 0;
  }

  hr {
    display: flex;
    
  }

  .contactMe {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 150px;
    align-items: center;
    background: #6070ff;
    background-image: url(./asset/Contact/contactdesk.svg);
    background-repeat: no-repeat;
    background-size: 95% 95%;
    background-position: 90% 80%;
  }

  .contactblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 80%;
    height: auto;
    margin-top: 120px;
  }

  .contactTxt {
    width: 100%;
    height: auto;
    text-align: center;
    order: 0;
    margin-top: 0;
  }

  .Contact_body_text {
    display: flex;
    align-content: center;
    width: 50%;
    height: auto;
    order: 1;
  }

  .body-text {
    justify-content: center;
    align-content: center;
    height: auto;
  }

  .form {
    display: flex;
    margin-top: 0px;
    width: 70%;
    align-items: center;
    order: 3;
    height: auto;
  }

  #name {
    align-items: center;
    border-radius: 8px;
    border: 1px #cfd8dc solid;
    background-color: #fff;
    margin-bottom: 20px;
    width: 50%;
  }

  #mail {
    align-items: center;
    border-radius: 8px;
    border: 1px #cfd8dc solid;
    background-color: #fff;
    width: 50%;
  }

  #textarea {
    border-radius: 8px;
    border: 1px #cfd8dc solid;
    background-color: #fff;
    
    width: 60%;
  }

  #action {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }

  .normalButtnAbout {
    display: flex;
    width: 175px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    cursor: pointer;
    background-color: #fff;
  }

  .normalButtnAbout:hover {
    background: #6070ff;
    color: #fff;
  }

  .normalButtnAbout:active {
    background: #2230d2;
    color: #fff;
  }
}
